<!DOCTYPE html>
<html>

<head>
  <title> {{title}} </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>

<body>

    <input type="date" id="inicialDate">
    <input type="date" id="finalDate">
    <input type="" id="currency">
    <button type="submit" id="btn">BUSCAR</button>
  
  <canvas id="myChart"></canvas>
  <script src="/javascripts/financial-data.js" charset="utf-8"></script>
  <script src="/javascripts/chart.js" charset="utf-8"></script>
</body>

</html>